body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s; 
  background: #C8C6D7;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7C98B3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #1F1A38;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #BFACC8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 9px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Happy Monkey';font-size: 50px;
    
}

